$textColor: white;
$backgroundColor: #2C3E50;
$cardBackgroundColor: rgba(217, 217, 217, 0.35);
$grayColor: #80808069;
// Variables de couleurs
$primary-color: #010131;
$secondary-color: #ff4d4d;
$neutral-color: #f9f9f9;
$accent-color: #666;